There is another type object we didn't talked about: `set`  
It looks like a `dictionaries`, but it's not a dictionaries.

In [132]:
my_set = {"apple", "kiwi", "pineapple"}
my_set

{'apple', 'kiwi', 'pineapple'}

In [119]:
type(my_set)

set

Question : Why `myset` is not a object from `dict` class ?

Answer : ce n'est pas un dictionnaire parcequ'il n'y a pas de couple keys/values

Another specificity from `set` object is that they cannot have two items with the same values. Execute the cells below.

In [120]:
a_set = {"banana", "lemon", "lemon", "cherry", "lemon", "strawberry", "lemon" }

In [121]:
a_set

{'banana', 'cherry', 'lemon', 'strawberry'}

Question :  
Hom many items have the sets below ?
To answer, to can use your knowledge or the `len()` function.

In [122]:
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}

In [123]:
print(this_set)
print(f'Our list is {len(this_set)} values long.')

{1, 2, 3, 4, 5, 6, 7, 8, 9}
Our list is 9 values long.

Question :  
Does a set can contains elements with differents types ?

In [124]:
# try to make a set with objects with different types here:
answer = {"hey", 2, True, 2.33}
print(answer)

{True, 2, 2.33, 'hey'}

oui !

Question :  
Considering the list below, there is a simple way to know the amount of unique values from this list. How ?

In [125]:
# Try to count the amount of unique values from this list, in one line of code.

a_list = [1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9]
a_set_1=set(a_list)
len(a_set_1)

9

There are four collection data types in the Python programming language:

* `List` is a collection which is ordered and changeable. Allows duplicate members.
* `Tuple` is a collection which is ordered and unchangeable. Allows duplicate members.
* `Set` is a collection which is unordered, unchangeable, and unindexed. No duplicate members, but you can remove items and add new items.
* `Dictionary` is a collection which is ordered and changeable. No duplicate members.

Question :   
Find a way to access to the first value of `this_set`

In [126]:
this_set
list(this_set)[0]

1

Question :  
Find a way to add a value that will be unique in `a_set`

In [127]:
a_set.add("apple")
a_set

{'apple', 'banana', 'cherry', 'lemon', 'strawberry'}

Question :  
Now, you have to add the value from `this_set` to `a_set`:

In [133]:
a_set = {"banana", "lemon", "lemon", "cherry", "lemon", "strawberry", "lemon" }
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}
this_set=list(this_set)
a_set=list(a_set)
for i in this_set:
  a_set.append(i)
a_set=set(a_set)
print(a_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'strawberry', 'cherry', 'banana', 'lemon'}

Question :    
If you display a `set` object, it's not display with the same order you define it. What can you say about the order the element are display ?

Answer : set n'a aucun ordre et affiche les elements de facon aleatoire !

Question :    
Find a way to display the elements that exist in both sets.

In [138]:
a_set = {"banana", "grapes", "cherry", "pineapple", "kiwi", "strawberry"}
b_set = {"lemon", "kiwi", "grapes", "blueberry", "watermelon"}
for element in a_set:
  if element in b_set:
    print(element, end=" ")

grapes kiwi

There is other methods for `set` objects, that you can find [here](https://www.w3schools.com/python/python_ref_set.asp).